#modules{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    row-gap: 7em;
}

.dashboard-header{
    color: rgb(167, 177, 187);
    background-color: #36454F;
    @include flex(row, nowrap, space-between);
    font-size: 1.25em;

    h1{
        color: rgba(167, 177, 187, 0.9);
        font-size: 1.75em;
    }

    svg{
        margin-top: 0.1em;
    }
}