#modules{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    row-gap: 7em;
}

.dashboard-header{
    color: rgb(167, 177, 187);
    background-color: #36454F;
    @include flex(row, nowrap, space-between);
    font-size: 1.25em;

    h1{
        color: rgba(167, 177, 187, 0.9);
        font-size: 1.75em;
    }

    svg{
        margin-top: 0.1em;
    }
}

// desktop only
main{
    max-height: 86.5vh;
    overflow: auto;
}

.dashboard-content{
    padding: 1em 2em;
}

#userInfo > section{
    border: 1px solid lightgray;
    padding: .6em;
    margin-top: 1.5em;
    box-shadow: 4px 6px 6px #8888888f;
}

.formSubsection{
    width: 50%;
    padding: .5em;
    display: inline-block;
}

.section2, .section3{
    width: 100%;
    @media only screen and (min-width: 1000px) {
        width: 49%;
        display: inline-block;
    }
}

.section2{
    @media only screen and (min-width: 1000px) {
        margin-right: 2%;
    }
}

.searchSuggestions{
    @include flex(row, nowrap, space-between);
    >span{
        &:first-child{
            font-weight: bold;
        }
        &:last-child{
            font-style: italic;
        }
    }
}

#manageControl{
    @include flex(row, nowrap, space-between);

    >button{
        top: 1px;
        width: 20%;
        min-width: 150px;
        max-width: 250px;
        border-radius: .7em;
    }

    >div{
        width: 75%;
    }
}